.color-selector-div {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .7);
  }
  
  .theme1 {
    background: #d48806;
  }
  
  .theme2 {
    background: #3f6600;
  }
  .theme3 {
    background: #003a8c;
  }
  .theme4 {
    background: #22075e;
  }
  .theme5 {
    background: #ffc53d;
  }
  .theme6 {
    background: #bae637;
  }
  .theme7 {
    background: #69c0ff;
  }
  .theme8 {
    background: #531dab;
  }
  .button-parent-drawer{
    cursor:pointer;
    display: inline-block;
    margin-top: 10px;
  }
  .drawer-show-class{
    width: 32px;
    overflow: hidden;
    transition: all 1s;
    border: 2px solid #40a9ff;
    border-top: 1px solid;
  }
  .drawer-hidden-class{
    width:0px;
    overflow: hidden;
    transition: all 1s;
  }
  .my-color-drawer{
    position: absolute;
    top:80px;
  }
/* 
  .my-color-drawer div button{
    z-index: 3;
  } */
  .drawer-show-class div{
    z-index: 10 !important;
  }