.color-selector-div {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .7);
  }
  
  .theme1 {
    background: #E27D60;
  }
  
  .theme2 {
    background: #242582;
  }
  
  .theme3 {
    background: #5D5C61;
  }
  .theme4 {
    background: #5680E9;
  }
  .theme5 {
    background: #00887A;
  }
  .button-parent-drawer{
    cursor:pointer;
    display: inline-block;
    margin-top: 10px;
  }
  .drawer-show-class{
    width: 32px;
    overflow: hidden;
    transition: all 1s;
    border: 2px solid #40a9ff;
    border-top: 1px solid;
  }
  .drawer-hidden-class{
    width:0px;
    overflow: hidden;
    transition: all 1s;
  }